





/* BEGIN REPONSIVE*/


.all
{
	width:100%;
	height:100%;
	overflow:hidden;
	margin:auto;
	padding:auto;
	max-width: 1080px;
	min-width: 100px;
	max-height: 1920px;
	min-height: 100px;
}

.allmenu
{
	width:100%;
	height:100%;
	overflow-x:auto;
	margin:auto;
	padding:auto;
	max-width: 1080px;
	min-width: 700px;
	max-height: 1920px;
	min-height: 1700px;
	opacity:100%;
	
}

.allbanner
{
	width:100%;
	overflow-x:hidden;
	margin:auto;
	padding:auto;
	max-width: 10000px;
	min-width: 1000px;
	min-height: 10px;
}



.allmain
{
	width:100%;
	height:100%;
	overflow-x:hidden;
	margin:auto;
	padding:auto;
	max-width: 1080px;
	min-width: 50px;
	min-height: 100px;
	margin-top:-90px;

}


.allfooter
{
	width:100%;
	height:100%;
	margin:auto;
	padding:auto;
	max-width: 1080px;
	min-width: 50px;
	max-height: 1920px;
	min-height: 50px;
}


body
{
	width:100%;
	height:100vh;
	margin:0;
	background-color:#e0e3e6;
}

/* END REPONSIVE*/







/* BEGIN FONT IMPORT*/

@font-face
{
	font-family:Pangram-Regular;
	src: url('font/Pangram-Regular.otf') format('Pangram-Regular');
	font-family:Valairya;
	src: url('font/Valairya.ttf') format('Valairya');
}

/*END FONT IMPORT*/






/* BEGIN NAV MENU */

header
{
	text-align: center;
	position:fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	display:inline-block;
	outline:none;
}

nav
{
	padding:0;
	margin:0;
	width:100%;
	height:60px;
	background-color:#20232a;
	float:left;
	overflow:hidden;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	
}

ul 
{
	width:80%;
	margin:0 auto;
	padding:0;
	
	
}

ul li
{
	list-style:none;
	display:inline-block;
	padding:18px;
	
	margin-top:-7px;
}

#dropdown #dropbtn
{
	font-size: 16px; 
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0;
}

#dropdown-content 
 {
	display: none;
	position: absolute;
	background-color: #20232a;
	text-decoration: none;
	min-width: 150px;
	max-width: 800px;
	z-index: 2;
	margin-top:-6px;
}	


#dropdown-content a
 {
	background-color: #20232a;
	text-decoration: none;
	text-align:center;
	float:left;
	color:white;
	padding: 14px 16px;
}

#dropdown #dropmenu
{ 
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	margin:0; 
}

#dropdown-content a:hover 
{
	background-color:#20232a;
	float:left; 
}

#dropdown:hover #dropdown-content 
{
	display: block;
}

.textmenu1 ,.textmenu2 ,.textmenu3 ,.textmenu4 ,.textmenu5 
{
	font-family:foxlite;
	font-size:20px;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	opacity:100%;
}

a:hover.textmenu1
{
	font-size:21px;
}

a:hover.textmenu2
{
	font-size:21px;
}

a:hover.textmenu3
{
	font-size:21px;
	display:block;
}

a:hover.textmenu4
{
	font-size:21px;
}

a:hover.textmenu5
{
	font-size:21px;
}

/* END NAV MENU */






/* BEGIN BANNER */

.banner
{
	background:url(img/banner13.gif) no-repeat;
	background-position:relative;
	display:block;
	margin-top:60px;
	padding-top:70px;
	padding-bottom:70px;
	margin-bottom:100px;
}

#bannertext
{
	color:white;
	font-size:45px;
	float:center;
	text-align: center;
	vertical-align: middle;

	
}

/* END BANNER */






/*BEGIN TEXT*/

main
{
	padding-top:100px;
	padding-bottom: 200px;
	overflow-x:hidden;
}

.titre4
{
	font-family:Pangram-Regular;
	font-size:30px;
}

#titre5
{
	font-family:Pangram-Regular;
	font-size:22px;
}

.text1
{
	font-family:Pangram-Regular;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}

ol
{
	margin-left:-20px;
}

#exemple1
{
	background:url(img/htmlexemple.jpg) no-repeat;
	background-position:relative;
	width:60%;
	height:429px;
}

#exemple2
{
	background:url(img/cssexemple.jpg) no-repeat;
	background-position:relative;
	width:60%;
	height:390px;
}

#exemple3
{
	background:url(img/jsexemple.jpg) no-repeat;
	background-position:relative;
	width:60%;
	height:80px;
}

/*END TEXT*/






/*BEGIN TABLE*/

article
{
	overflow-x:auto;
}
table
{
	border-collapse:collapse;
	
}

td,th
{
	border:1px solid black;
	text-align:center;
}
td
{
	padding:5px;
}
th
{
	border:1px solid black;
	background-color:#20232a;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
}

.ligne12
{
	color:#2b0f14;
}

.kperyear
{
	color:#5d7c5c;
}
/*END TABLE*/






/*BEGIN LINK*/

.link 
{
	text-decoration:none;
	color:black;
}

.link:hover
{
	color:grey;
}


/*END LINK*/






/*BEGIN FOOTER*/

footer
{

	text-decoration:none!important;
	border-top: 4px solid #210f22;
	background-color:#20232a;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	max-height:800px;	
	
}

#footerblock
{
	margin-bottom:-1500px;
	position:absolute;
	
}

#footer1 
{	
	font-family:Valairya;
	font-size:15px; 
	color:white;
	text-align:center;
	max-width:10000px;
	min-width:100px;
}

/*END FOOTER*/





